.title{
    text-align: center ;

}
.header{
    background-color: red;
}

#username{
    padding: 5px;
}
#password {
    padding: 5px;
}
.container {
    width: 400px;
    margin: 0 auto;
}
.loginFailed {
color: red;
font-weight: bold;
padding: 5px;
}