<div [ngClass]="service.toggleNightMode(container, darkMode)">
<div [ngClass]="service.toggleNightMode(countInfo, darkMode)">
    <tr id="title">Total Recovered</tr>
    <tr><b>{{TotalRecoverd}}</b></tr>
</div>
<div [ngClass]="service.toggleNightMode(scroll, darkMode)">
        <li *ngFor="let hero of country">
            <div class="row">
                <div class="col-md-6">
                    {{ hero.Country }}
                </div>
                <div class="col-md-6">
                  <b>{{ hero.TotalRecovered}}</b>
                </div>
            </div>          
        </li>
</div>
</div>
